<a href="https://colab.research.google.com/github/EdoHanifauzan/data/blob/main/notebooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Content with notebooks

You can also create content with Jupyter Notebooks. This means that you can include
code blocks and their outputs in your book.

## Markdown + notebooks

As it is markdown, you can embed images, HTML, etc into your posts!

![](https://myst-parser.readthedocs.io/en/latest/_static/logo-wide.svg)

You can also $add_{math}$ and

$$
math^{blocks}
$$

or

$$
\begin{aligned}
\mbox{mean} la_{tex} \\ \\
math blocks
\end{aligned}
$$

But make sure you \$Escape \$your \$dollar signs \$you want to keep!

## MyST markdown

MyST markdown works in Jupyter Notebooks as well. For more information about MyST markdown, check
out [the MyST guide in Jupyter Book](https://jupyterbook.org/content/myst.html),
or see [the MyST markdown documentation](https://myst-parser.readthedocs.io/en/latest/).

## Code blocks and outputs

Jupyter Book will also embed your code blocks and output in your book.
For example, here's some sample Matplotlib code:

In [ ]:
from matplotlib import rcParams, cycler
import matplotlib.pyplot as plt
import numpy as np
plt.ion()

#Tugas 1 Dissimilarty

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
path="/content/drive/MyDrive/DataMining/train.CSV"
df = pd.read_csv(path)

In [ ]:
df

NameError: ignored

In [ ]:
# embark code
code_embark_for_cherbourg = "C"
code_embark_for_southampton = "S"

# binary value
value_of_one = 1
value_of_zero = 0

def change_code_embark_to_biner(embarked):
    return value_of_one if embarked == code_embark_for_southampton else value_of_zero

# Update all values of 'Embarked' series
df["Embarked"] = df["Embarked"].apply(change_code_embark_to_biner)

In [ ]:
df[["PassengerId","Name","Survived", "Embarked"]].head(8)

,PassengerId,Name,Survived,Embarked
0,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,0
1,2,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",1,1
2,3,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",0,1
3,4,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,1
4,5,"Braund, Mr. Owen Harris",0,0
5,6,"Heikkinen, Miss. Laina",1,1
6,7,"Allen, Mr. William Henry",0,1
7,8,"Moran, Mr. James",0,0

In [ ]:
# CONSTAN VARIABLE
DECREMENT_BY_ONE = 1
INCREMENT_BY_ONE = 1

CONTINGENCY_TABLE_VALUE = {
    "q" : (1,1),
    "r" : (1,0),
    "s" : (0,1),
    "t" : (0,0),
}
def get_series(df, idx, series):
    return df.loc[(idx - DECREMENT_BY_ONE), series]

def get_dissimilarity_dataset(df, series_index = [], series = []):
    first_series = get_series(df, series_index[0], series)
    second_series = get_series(df, series_index[1], series)
    dataset = pd.concat([first_series,second_series],axis=1)
    return dataset.T

In [ ]:
get_dissimilarity_dataset(df, [1,2], ["Survived", "Embarked"]).T

          0  1
Survived  1  1
Embarked  0  1

In [ ]:
df.loc[0:7, ["Survived", "Embarked"]]

   Survived  Embarked
0         1         0
1         1         1
2         0         1
3         1         1
4         0         0
5         1         1
6         0         1
7         0         0

In [ ]:
def count_contingency_value(df, start_index = 0, last_index = 1):

    CONTINGENCY_VALUE = {
        "q" : 0,
        "r" : 0,
        "s" : 0,
        "t" : 0,
    }

    column_range = df.shape[1]

    for column in range(column_range):
        for value in CONTINGENCY_TABLE_VALUE:
            item = list((tuple(df.loc[(start_index - DECREMENT_BY_ONE):(last_index - DECREMENT_BY_ONE), df.columns[column]]) == CONTINGENCY_TABLE_VALUE[value], value))
            if item[0] == True:
                if item[1] == "q":
                    CONTINGENCY_VALUE["q"] += 1
                if item[1] == "r":
                    CONTINGENCY_VALUE["r"] += 1
                if item[1] == "s":
                    CONTINGENCY_VALUE["s"] += 1
                if item[1] == "t":
                    CONTINGENCY_VALUE["t"] += 1

    return CONTINGENCY_VALUE

In [ ]:
# d(1,2)
dd_1_2 = get_dissimilarity_dataset(df, [1,2], ["Survived", "Embarked"])
dd_1_2

  Survived Embarked
0        1        0
1        1        1

In [ ]:
c_d_1_2 = count_contingency_value(dd_1_2, 1, 2)
c_d_1_2

{'q': 1, 'r': 0, 's': 1, 't': 0}

In [ ]:
# d(1,3)
dd_1_3 = get_dissimilarity_dataset(df, [1,3], ["Survived", "Embarked"])
dd_1_3

  Survived Embarked
0        1        0
2        0        1

In [ ]:
c_d_1_3 = count_contingency_value(dd_1_3, 1, 3)
c_d_1_3

{'q': 0, 'r': 1, 's': 1, 't': 0}

In [ ]:
# d(1,4)
dd_1_4 = get_dissimilarity_dataset(df, [1,4], ["Survived", "Embarked"])
dd_1_4

  Survived Embarked
0        1        0
3        1        1

In [ ]:
c_d_1_4 = count_contingency_value(dd_1_4, 1, 4)
c_d_1_4

{'q': 1, 'r': 0, 's': 1, 't': 0}

In [ ]:
# d(1,5)
dd_1_5 = get_dissimilarity_dataset(df, [1,5], ["Survived", "Embarked"])
dd_1_5

  Survived Embarked
0        1        0
4        0        0

In [ ]:
c_d_1_5 = count_contingency_value(dd_1_5, 1, 5)
c_d_1_5

{'q': 0, 'r': 1, 's': 0, 't': 1}

In [ ]:
def measure_dissimilarity_binary_value_assymetric_distance(contingency_value):

    return (contingency_value["r"] + contingency_value["s"]) / (contingency_value["q"] + contingency_value["r"] + contingency_value["s"])

In [ ]:
d_1_2 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_2)
d_1_3 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_3)
d_1_4 = measure_dissimilarity_binary_value_assymetric_distance(c_d_1_4)

In [ ]:
d_1_2

0.5

In [ ]:
d_1_3

1.0

In [ ]:
d_1_4

0.5

#Tugas 2 Diskritisasi

There is a lot more that you can do with outputs (such as including interactive outputs)
with your book. For more information about this, see [the Jupyter Book documentation](https://jupyterbook.org)

#Tugas3 KNN-Alghorithm

#Tugas4 Naive Bayer Classification

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
url = 'https://gist.githubusercontent.com/netj/8836201/raw/6f9306ad21398ea43cba4f7d537619d0e07d5ae3/iris.csv'
data = pd.read_csv(url)

In [ ]:
data.head()

In [ ]:
X = data.iloc[:,: 4].values
Y = data.iloc[:, -1].values

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
Y = le.fit_transform(Y)

In [ ]:
Y

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.3, random_state=0)

In [ ]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, Y_train)

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(Y_test, y_pred)

In [ ]:
cm

In [ ]:
from sklearn.metrics import classification_report
y_pred = classifier.predict(X_test)
print(classification_report(Y_test, y_pred, target_names=le.classes_))

#Tugas 5 K-Means